

:root {
    --grey_darkest: #1c2029;
    --grey_dark: #2e3544;
    --grey_dark_blue: #343b4e;
    --grey_main: #4a5266;
    --grey_blue: #535f79;
    --grey_text: #8d97b089;
    --grey_bright: #919eba;
    --grey_brightest: #d4daedbf;
}


body {
    font-family: 'Nunito', Arial;
    font-size: 18px;
    color: var(--grey_text);
    background-color: var(--grey_darkest);
}

.invisible {
    display: none !important;
}

#main {
    width: 1250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header_document {
    background-size: cover;
    padding: 200px;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px);
}

.logo_warhammer {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.chapter {
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 4px solid var(--grey_main);;
    padding: 2px 15px;
    color: white;
    background-color: var(--grey_dark);
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        0 100%,
        0 0);
}

#core_rules {
    display: flex;
    gap: 20px;
}

#core_rules > div {
    flex: 1;
}

.definition {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid var(--grey_main);
    border-radius: 2px;
}

.definition .name {
    width: 110px;
    padding: 5px;
    color: white;
    background-color: var(--grey_dark);
}

.definition .description {
    flex: 1;
    padding: 5px 10px;
    background-color: #212632;
}

.army_constructors {
    display: flex;
    gap: 0px 80px;
}

.selection_factions {
    margin-bottom: 400px;
    padding: 15px;
    border-radius: 4px;
    background-color: #212632;
}

.selection_factions > div {
    display: grid;
    grid-template-columns: 170px 170px 170px;
    gap: 14px;
    margin-top: 10px;
}

.container_faction_button  {
    height: 140px;
}

.image_faction {
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.selection_factions .image_faction {
    padding-top: 120px;
    padding-bottom: 5px;
    border-top: 2px solid var(--grey_bright);
    border-right: 4px solid var(--grey_main);
    font-size: 14px;
    text-align: center;
    box-shadow: inset 0 -25px 25px -10px var(--grey_dark);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        10px 100%,
        0 calc(100% - 10px));
}

.list_constructors .image_faction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 550px;
    height: 380px;
    box-shadow: inset 0 -100px 100px -20px var(--grey_dark);
}

.preview_faction_button:hover {
    scale: 110%;
    border-top: 2px solid #9e59ff;
    border-right: 4px solid #9e59ff;
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.image_lower {
    display: flex;
    padding: 8px;
}

.image_faction .name {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.faction {
    border: 4px solid #212632;
    border-radius: 4px;
    font-size: 14px;
}

.header_list {
    padding: 4px;
    background-color: #212632;
}

.interactive {
    width: 20px;
    border: 2px solid var(--grey_main);
    border-radius: 2px;
    line-height: 20px;
    margin: 2px;
    text-align: center;
    user-select: none;
    color: var(--grey_main);
    background-color: var(--grey_dark);
}

.interactive:hover {
    border: 2px solid white;
    color: white;
    background-color: #8b4dfe;
}

.toggle_mode_list {
    width: 100px;
}

.points_state {
    display: flex;
    margin-top: 20px;
    padding: 2px;
}

.points_total {
    padding-right: 4px;
}

.text_select_unit_instances {
    flex: 1;
}

.unit_faction {
    display: flex;
    width: 550px;
    margin: 5px 4px;
    border: 2px solid var(--grey_main);
    border-radius: 4px;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        0 100%,
        0 0);
}

.unit_state {
    flex: 1;
    display: flex;
    user-select: none;
    background-color: var(--grey_dark_blue);
    padding: 10px 2px;
}

.unselected .unit_card {
    opacity: 0.5;
}

.unit_card {
    width: 500px;
    height: 165px;
    background-image: url("background.png");
    background-size: cover;
}

.image_unit {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.data_unit {
    padding: 8px 5px;
    font-size: 16px;
}

.data_unit .name {
    margin-bottom: 2px;
}

.unit_property {
    display: flex;
    width: fit-content;
    line-height: 18px;
    padding: 1px;
    padding-right: 10px;
    border: 2px solid transparent;
}

.unit_property > div {
    margin-right: 5px;
}

.icon {
    width: 18px;
    font-size: 14px;
    line-height: 18px;
    border-top: 1px solid var(--grey_bright);
    border-right: 2px solid var(--grey_text);
    border-radius: 2px;
    color: var(--grey_brightest);
    background: linear-gradient(0.125turn, var(--grey_text), var(--grey_main));
    text-align: center;
}

.attack .icon {
    font-size: 18px;
    border-right: 2px solid #cc1e27;
    border-top: 1px solid #dc1a24;
    background: radial-gradient(#bd282f 10%, #6a1d26);
}

.skillbar {
    width: 72px;
    padding: 2px;
    margin: 4px 0px;
    background-color: var(--grey_dark);
    border: 1px solid var(--grey_main);
    border-radius: 2px;
}

.skillbar > div {
    display: block;
    height: 100%;
    background: linear-gradient(0.25turn, var(--grey_main), var(--grey_bright));
    border-radius: 2px;
}

.attack .skillbar > div {
    background: linear-gradient(0.25turn, #771a1a8d, #f60f0f8d);
}

.unit_property .value {
    width: 20px;
    text-align: right;
}

#turn_information {
    float: right;
}

.coordinates {
    flex: 1;
    width: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.coordinate {
    font-size: 12px;
    line-height: 14px;
    min-height: 12px;
    padding-right: 2px;
    text-align: right;
    color: var(--grey_text);
}

.match .text_select_unit_instances {
    opacity: 0.0;
}

.match .unselected {
    display: none;
}

.match .interactive.return_to_faction_selection {
    display: none;
}

.match .toggle_mode_list {
    border: 2px solid transparent;
}

.match .movement:hover,
.match .attack:hover,
.match .selected  {
    color: white;
    border-radius: 4px;
    user-select: none;
}

.match .movement:hover {
    background: linear-gradient(to right, var(--grey_main) 185px, transparent);
}

.match .attack:hover,
.match .attack.selected {
    border: 2px solid var(--grey_blue);
    background: linear-gradient(to right, #f60f0fe5, #b10d0de5 100px);
}

.attack_in_progress .unit_property:not(.selected) {
    color: inherit;
    background: none;
}

.health_bar {
    display: flex;
    width: 5px;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2px;
    background-color: var(--grey_dark);
    border: 1px solid var(--grey_main);
    border-radius: 1px;
    margin-left: auto;
}

.section.difference {
    display: none;
    background: linear-gradient(to right, #8b4dfe, #6f30f8);
}

.section.remaining {
    background: linear-gradient(to top, var(--grey_main), var(--grey_bright) 185px);
}

.inactive .movement,
.inactive .attack {
    display: none;
}

.attacking_side .unit_faction:not(.attacking),
.attacking_side .attacking .attack:not(.selected) {
    opacity: 0.15;
}

.attacked .section {
    display: flex;
}

.attacked .coordinate.remaining:hover {
    color: white;
}

