

:root {
    --grey_darkest: #1c2029;
    --grey_dark: #2e3544;
    --grey_main: #4a5266;
    --grey_blue: #535f79;
    --grey_text: #a8b4d2;
    --grey_bright: #919eba;
    --grey_brightest: #d4daedbf;
}


body {
    font-family: 'Nunito', Arial;
    font-size: 18px;
    color: var(--grey_text);
    background-color: var(--grey_darkest);
}

.invisible {
    display: none !important;
}

#main {
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
}

.header_document {
    background-size: cover;
    height: 200px;
    padding: 200px;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px);
}

.logo_warhammer {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.chapter {
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    background-color: var(--grey_dark);
    border-bottom: 4px solid var(--grey_main);;
    padding: 2px 15px;
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        0 100%,
        0 0);
}

.indented {
    border-left: 1px solid var(--grey_bright);
    padding-left: 10px;
}

r {
    color: rgb(210, 45, 45);
    font-weight: bold;
}

#core_rules {
    display: flex;
}

#core_rules > div {
    flex: 1;
    margin: 0px 10px;
}

.definition {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid var(--grey_main);
    border-radius: 2px;
}

.definition .name {
    width: 100px;
    color: white;
    background-color: var(--grey_dark);
    padding: 5px;
}

.definition .description {
    flex: 1;
    padding: 5px 10px;
}

.selection_factions {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 10px 10px;
}

.container_faction_button  {
    height: 200px;
}

.image_faction {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-size: cover;
}

a.image_faction {
    display: block;
    width: 270px;
    padding-top: 150px;
    padding-bottom: 10px;
    text-decoration: none;
    border-top: 2px solid var(--grey_bright);
    border-right: 4px solid var(--grey_main);
    border-radius: 4px;
    box-shadow: inset 0 -50px 50px -20px var(--grey_dark);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        10px 100%,
        0 calc(100% - 10px));
}

.preview_faction_button:hover {
    scale: 110%;
    border-top: 2px solid #9e59ff;
    border-right: 4px solid #9e59ff;
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.faction_rules {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 700px;
    gap: 20px;
}

.model {
    width: 500px;
    height: 165px;
    background-image: url("background.png");
    background-size: cover;
}

.image_unit {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.data_unit {
    padding: 5px;
}

.data_unit .name {
    margin-bottom: 5px;
}

.model_property {
    padding-left: 4px;
    padding-right: 10px;
    width: fit-content;
}

.icon {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    width: 20px;
    color: var(--grey_brightest);
    background: linear-gradient(0.125turn, var(--grey_text), var(--grey_main));
    border-top: 1px solid var(--grey_bright);
    border-right: 2px solid var(--grey_text);
    border-radius: 2px;
}

.attack .icon {
    font-size: 16px;
    line-height: 20px;
    background: radial-gradient(#bd282f 10%, #6a1d26);
    border-right: 2px solid #cc1e27;
    border-top: 1px solid #dc1a24;
}

.unit_faction {
    display: flex;
}

.model_statistics {
    padding: 0px 5px;
}

.skillbar {
    display: inline-block;
    width: 72px;
    padding: 2px;
    background-color: var(--grey_dark);
    border: 1px solid var(--grey_main);
    border-radius: 2px;
}

.skillbar > div {
    display: block;
    height: 6px;
    background: linear-gradient(0.25turn, var(--grey_main), var(--grey_bright));
    border-radius: 2px;
}

.attack .skillbar > div {
    background: linear-gradient(0.25turn, #771a1a8d, #f60f0f8d);
}

#army_lists {
    display: flex;
    gap: 0px 80px;
}

#turn_information {
    float: right;
}

.army_list {
    border: 4px solid var(--grey_dark);
    padding: 4px;
    border-radius: 4px;
}

.header_list {
    display: flex;
    margin-bottom: 10px;
    height: 150px;
}

.header_list .image_faction {
    flex-basis: 250px;
    background-size: cover;
    border: 1px solid var(--grey_main);
    border-radius: 2px;
}

.match_data {
    flex: 1;
    padding-left: 5px;
}

.summary {
    font-size: 14px;
    margin-top: 10px;
}

.points_unit {
    display: inline-block;
    width: 60px;
}

.points_total {
    padding: 2px;
    text-align: center;
    background-color: var(--grey_dark);
    border: 1px solid var(--grey_main);
    border-radius: 2px;
}

.unit_army_list {
    display: flex;
    margin-top: 8px;
    border: 2px solid var(--grey_main);
    border-radius: 4px;
    background-color: #343b4e;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        0 100%,
        0 0);
}

.unit_state {
    display: flex;
    padding: 10px 0px 10px 5px;
    user-select: none;
}

.coordinates {
    flex: 1;
    display: flex;
    width: 20px;
    justify-content: flex-end;
    flex-direction: column;
}

.coordinate {
    font-size: 12px;
    line-height: 14px;
    min-height: 12px;
    padding-right: 2px;
    text-align: right;
    color: var(--grey_text);
}

.coordinate.difference {
    border-bottom: 2px solid var(--grey_dark);
}

.coordinate.in_cover,
.coordinate.no_cover {
    display: none;
}

.unit_army_list.destroyed {
    display: none;
}

.movement:hover,
.attack:hover,
.selected  {
    color: white;
    border-radius: 4px;
    user-select: none;
}

.movement:hover {
    background: linear-gradient(to right, var(--grey_main) 185px, transparent);
}

.attack:hover,
.attack.selected {
    background: linear-gradient(to right, #f60f0fe5, #b10d0de5 100px);
}

.attack_in_progress .model_property:not(.selected) {
    color: inherit;
    background: none;
}

.health_bar {
    display: flex;
    width: 5px;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2px;
    background-color: var(--grey_dark);
    border: 1px solid var(--grey_main);
    border-radius: 1px;
    margin-left: auto;
}

.section.difference {
    display: none;
    border-bottom: 2px solid var(--grey_dark);
    background: linear-gradient(0.25turn, #8b4dfe, #6f30f8);
}

.section.remaining {
    background: linear-gradient(to top, var(--grey_main), var(--grey_bright) 185px);
    border-radius: 1px;
}

.inactive .movement,
.inactive .attack {
    display: none;
}

.attacking_side .unit_army_list:not(.attacking),
.attacking_side .attack:not(.selected) {
    opacity: 0.15;
}

.attacked .section {
    display: flex;
}

.attacked .coordinate {
    display: block;
}

